@charset "UTF-8";

body {
    background-color: rgb(247, 244, 244);
    font-family: Arial, sans-serif;
  }

  .menu {
    background-color: #544664;
    overflow: hidden;
  }

  .menu ul {
    list-style-type: none;
    padding: 7;
    margin: 6;
    display: flex;
  }

  .menu li {
    margin-right: 40px;
  }

  .menu a {
    color: rgb(255, 250, 250);
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s;
  }

  .menu a:hover {
    background-color: #f3aa57;
  }

  img:hover {
    transform: scale(1.1);
  }