@charset "UTF-8";

body {
<<<<<<< HEAD
  
  background-size: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
=======
>>>>>>> cdba5667cbd7316f1adc4337f939ccdbde77e929
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
}



body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 3;
}  

.menu {
  background-color: #480b5a;
  width: 100%;
}

.menu ul {
  list-style-type: none;
  padding: 10;
  margin: 100;
  display: flex;
  justify-content: center;
}

.menu li {
  margin: 0 20px;
}

.menu a {
  color: #fdfcfc;
  text-decoration: none;
  padding: 19px 20px;
  transition: background-color 0.3s;
}

.menu a:hover {
  background-color: #09b8af;
}

.login-container {
  background-color: #7b4ba5;
  padding: 70px;
  border-radius: 70px;
  text-align: center;
}

h1 {
  color: #ffffff;
}

label {
  color: #ffffff;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 13px;
  margin: 100px 10;
  border: none;
  border-radius: 50px;
}

button {
  background-color: #a05b9c;
  color: #e7eeec;
  padding: 10px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

button:hover {
  background-color: hsl(264, 52%, 16%);
}
br {
  background-color: #ecece4;
  }
h2{
  background-color: #eee8f7;
}